.register_card{
    background-color: #39f !important;
    color:white;
}
.heading2{
    color: white;
}
.login_card{
    background-color: #ebedef !important;
    height: 258px;
}
body {
    position: relative;
}
#user-id{
    backgroundColor: red;
}