.login-card-first{
height: 320px;
}
body {
    position: relative;
    background-color: #ebedef;
}
#user-id{
    background-color: red;
    text-align: center;
}

.h2-login{
    color: lightgray;
    text-align: center;
}

.btn-md{
    background-color: #321fdb;
    color: white;
    border-radius: 5px;
    height: 33px;
    width: 82.36px;
}
.card_case{
    height: 320px;
    width: 389px;
    background-color: #321fdb;
    text-align: center!important;
}
.login-card-h2{
    color: white;
    padding-top: 20px;
    padding-bottom: 21px;
}
.login-card-p{
    color: white;
}
.login-card-register-now{
    background-color: #321fdb;
    color: white;
    height: 33px;
    width: 110.41px;
    border: 0;
}

.btn-create-account{
    width: 100%;
    background-color: #2eb85c;
    border-radius: 50px;
}
.btn-add-new{
    color: green;
    background-color: cornsilk;
    width: 120px;
    border-radius: 25px;
    margin-left: 120px;
    height: 50px;
    font-size: large;
    border: 0;
}

.btn-log-out{
    color: green;
    background-color: cornsilk;
    width: 120px;
    border-radius: 25px;
    height: 50px;
    font-size: large;
    margin-top: 40px;
    margin-left: 120px;
    position: relative;
    border: 0;
}

.btn-click-me{
    color: green;
    background-color: cornsilk;
    width: 120px;
    border-radius: 25px;
    height: 50px;
    font-size: large;
    border: 0;

}

.h1-div{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: darkolivegreen;
    padding-top: 250px;
}

.para-div{
    font-style: oblique;
    font-size: 25px;
    text-align: center;
    color: darksalmon;
    padding-left: 90px;
}
.text{
    text-align: center;
}